<script src="https://assets.crowd.aws/crowd-html-elements.js"></script>
<crowd-form>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}






    </style>

    <crowd-classifier
            name="category"
            categories="{{task.input.display_labels}}"
            header="Select the most relevant answer"
    >
        <classification-target>
            <h2><a href="https://pubmed.ncbi.nlm.nih.gov/{{task.input.pubmedId}}" target="_blank"> Abstract - Pubmed
                {{task.input.pubmedId}}</a></h2>
            <div>
                Is this PPI relationship <b>{{task.input.predicted}}</b> described?
                <ul>
                    {% for p in task.input.display_participants %}
                    <li>{{p}}</li>
                    {% endfor%}
                </ul>

            </div>
            <div id="ppitext">
                {% for seg in task.input.display_segments %}{% if seg.highlight %}<b>{{seg.text}}</b>{% else
                %}{{seg.text}}{% endif %}{% endfor %}
            </div>


            <h2>Additional info</h2>

            <h3>Raw abstract</h3>
            <div>
                {{task.input.abstract}}
            </div>

            <h3>NER Gene Recognition and normalisation</h3>
            <table>
                <tr>
                    <th>Start</th>
                    <th>End</th>
                    <th>Name</th>
                    <th>NCBI</th>
                </tr>


                {% for a in task.input.annotations %}
                {% if a.type == 'Gene' %}
                <tr>
                    <td>{{a.start}}</td>
                    <td>{{a.end}}</td>
                    <td>{{a.name}}</td>
                    <td>{{a.normalised_id}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>

            <h3>Gene to uniprot map</h3>
            <table>
                {% for a in task.input.gene_id_map %}

                <tr>
                    <td>{{a}}</td>
                </tr>

                {% endfor %}
                <tr>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>


        </classification-target>


        <full-instructions header="Text Categorization Instructions">
            <p><strong>Correct</strong> The abstract describes the typed PPI relation des</p>
            <p><strong>Incorrect - Other</strong> The abstract does not describe the relationship between the
                2 proteins</p>
            <p><strong>Incorrect - NER</strong>The abstract does not describe the relationship between the 2
                proteins due to invalid protein name recognition</p>
            <p><strong>Not - sure</strong> Unable to clearly tell if the abstract describes the relation</p>
            <p><strong>Incorrect - Opposite type</strong> The question is about dephosphorylation, but the abstract
                talks about phosphorylation</p>

        </full-instructions>

        <short-instructions>
            Recognise typed PPI relationship extracted.
        </short-instructions>
    </crowd-classifier>


</crowd-form>
